[Desktop Entry]
Type=Application
Name=Musix
Comment=YouTube Music, native on Linux
Exec=musix %u
Icon=musix
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=musix
MimeType=x-scheme-handler/musix;
